<hr>
<h2>List all data</h2>
<button><h1><a href="http://localhost:3000/routing/list" target="_blank">List data</a></h1></button> <br>

<hr>

<h2>Search Data by options</h2>
<button><h1><a href="http://localhost:3000/routing/search" target="_blank">Search</a></h1></button><br>

<button><a href="https://mail.google.com/mail/u/0/" target="_blank">Open gmail</a></button><br>
<button><a href="https://mail.google.com/mail/u/0/" target="_blank">Open gmail</a></button><br>


