<hr>
<h2>List all data</h2>
<button><h1><a href="http://localhost:3000/routing/list" target="_blank">List data</a></h1></button> <br>

<hr>

<h2>Search Data by individual fields</h2>
<button><h1><a href="http://localhost:3000/routing/search" target="_blank">Search</a></h1></button><br>
<hr>
<h2>Search data using multiple filters</h2>
<button><h1><a href="http://localhost:3000/routing/search/multiple_filters" target="_blank">Search</a></h1></button><br>
<hr>
<h2>Update a Record</h2>
<button><h1><a href="http://localhost:3000/routing/update" target="_blank">Update</a></h1></button><br>



