<hr>
<h3>Analysis/Comparison betwee 2 states :</h3>

<form action= "/routing/pieanalysis" method = "post">
    <p>
        <label>State1 </label><input value="" name="state1" />
		<label>State2 </label><input value="" name="state2" />
        <br>
        <button type="submit">Search !</button>



    </p>
</form>



